.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    width: 80%;
    /* margin: 0 auto; */
    margin-top: 50px;
    margin-left: 70px;
   
}
.items{
   border: 1px solid rgb(240, 123, 142);
   padding: 10px;
   border-radius: 5px;

}
.items img{
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-in-out;

}
.text-areas img{
    height: 40px;
    object-fit: cover;
}
.btn{
    width: 150px;
    background-color: rgb(211, 64, 89);
    color: white;
    margin-left: 25px;
   padding: 10px;
   border-radius: 4px;
   border: none;
   margin-top: 20px;
    
}
.btn:hover{
    background-color: rgb(228, 148, 161);
}
.box{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
}